{{ define "title"}}
  DNSify | 404 - Not Found 
{{ end }}


{{ define "content" }}

{{ template "error-page-actions"}}

  <div class="error-container">
    <div class="text-container">
      <h1> to, err := human() </h1>
      <p>Sorry, the page you're looking for cannot be found.</p>
      <p>Try <a href="/">going back to the homepage</a>.</p>
    </div>
    <div class="image-container">
      <img src="/static/img/hypnotized-gopher.png" class="error-gopher">
    </div>
  </div>
{{ end }}

